.cards{
    /* display: flex;
    flex-direction: column; */
    width: 192px;
    height: 162px;
    flex-shrink: 0;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    
    
}
h6{
    display: flex;
    height: auto;
    color: #FFF;
    font-family: DM Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
    margin-bottom: 10px;
    align-items: flex-start;
}
.image{
    display: flex;
    justify-content: center;
}
img{
    width: 168px;
    height: 97px;
    position: relative;
    display: flex;
    justify-content: center;
    
    }